body{
	margin:auto;
	width:80%;
	height:300px;
	border:1px solid black;
}
#wrapper{
	padding:0 15%;
}
h1{
	color: #345DB6;
	text-align:center;
}
form{
	background-color: #F0F0F0;
}
lebel, input{
	margin-top: 5px;
}